{
    "environment"             : "mirantis-poc",
    "cluster"                 : "FIXME.what.ever.level.region01 or keep me empty",
    "project_name"            : "{{cookiecutter.environment}}-salt-model",
    "reclass_repository"      : "git@github.com:Mirantis/{{cookiecutter.project_name}}.git",
    "openstack_version"       : "liberty",
    "keystone_region"         : "RegionOne",


    "admin_email"             : "root@localhost",
    "apt_branch"              : "nightly",
    "apt_branch_openstack"    : "nightly",
    "apt_branch_contrail"     : "nightly",
    "apt_branch_horizon"      : "nightly",
    "apt_branch_salt"         : "nightly",
    "apt_repository"          : "http://apt.tcpcloud.eu",
    "apt_repository_openstack": "http://mirror.fuel-infra.org/mos-repos/ubuntu/8.0-mu-2",
    "apt_release_code"        : "trusty",
    "apt_repo_tags"           : "main security tcp",
    "apt_repo_tags_galera"    : "galera-s9s",
    "ceilometer_cluster"      : true,
    "cluster_public_host"     : "cloud.company.com",
    "domain_name"             : "cloud.company.com",
    "horizon_bind_address"    : "0.0.0.0",
    "horizon_bind_port"       : "8078",
    "horizon_theme_name"      : "mirantis-theme",
    "horizon_version"         : "{{cookiecutter.openstack_version}}",
    "metering_cluster"        : true,
    "monitoring_cluster"      : true,
    "network_underlay_dns1"   : "8.8.8.8",
    "network_underlay_dns2"   : "8.8.4.4",
    "network_underlay_gw"     : "FIXME",
    "network_underlay_mask"   : "255.255.255.0",
    "opencontrail_analytics_cluster" : true,
    "opencontrail_dns"        : "8.8.8.8",
    "opencontrail_version"    : "3.0",
    "openstack_endpoint"      : "",
    "sensu_instance"          : "FIXME",
    "sensu_mail_handler"      : true,
    "ssl_cert"                : "",
    "ssl_chain"               : "",
    "ssl_enabled"             : false,
    "ssl_endpoint"            : false,
    "ssl_key"                 : "",
    "apt_repo_tags_contrail"  : "oc{{cookiecutter.opencontrail_version|replace('.', '')}} tcp",

    "bil01_name": "bil01",
    "bmk01_name": "bmk01",
    "cfg01_name": "cfg01",
    "cmp01_name": "cmp01",
    "cmp02_name": "cmp02",
    "cmp03_name": "cmp03",
    "ctl01_name": "ctl01",
    "ctl02_name": "ctl02",
    "ctl03_name": "ctl03",
    "dbs01_name": "dbs01",
    "dbs02_name": "dbs02",
    "dbs03_name": "dbs03",
    "kvm01_name": "kvm01",
    "kvm02_name": "kvm02",
    "kvm03_name": "kvm03",
    "log01_name": "log01",
    "log02_name": "log02",
    "log03_name": "log03",
    "mas01_name": "mas01",
    "mdb01_name": "mdb01",
    "mdb02_name": "mdb02",
    "mdb03_name": "mdb03",
    "mgm01_name": "mgm01",
    "mon01_name": "mon01",
    "mon02_name": "mon02",
    "mtr01_name": "mtr01",
    "mtr02_name": "mtr02",
    "nal01_name": "nal01",
    "nal02_name": "nal02",
    "nal03_name": "nal03",
    "ntw01_name": "ntw01",
    "ntw02_name": "ntw02",
    "ntw03_name": "ntw03",
    "rmq01_name": "rmq01",
    "rmq02_name": "rmq02",
    "rmq03_name": "rmq03",
    "prx01_name": "prx01",
    "prx02_name": "prx02",
    "cmp_iface": "eth0",

    "cmp_gw": "",

    "bil01_ip" : "10.10.10.11",
    "bmk01_ip" : "",
    "mas01_ip" : "10.10.10.13",
    "cfg01_ip" : "10.10.10.10",
    "ctl01_ip" : "10.10.10.21",
    "ctl02_ip" : "10.10.10.22",
    "ctl03_ip" : "10.10.10.23",
    "ctl_vip"  : "10.10.10.20",
    "dbs01_ip" : "10.10.10.31",
    "dbs02_ip" : "10.10.10.32",
    "dbs03_ip" : "10.10.10.33",
    "dbs_vip"  : "10.10.10.30",
    "log01_ip" : "10.10.10.91",
    "log02_ip" : "10.10.10.92",
    "log03_ip" : "10.10.10.93",
    "log_vip"  : "10.10.10.90",
    "mdb01_ip" : "10.10.10.41",
    "mdb02_ip" : "10.10.10.42",
    "mdb03_ip" : "10.10.10.43",
    "mdb_vip"  : "10.10.10.40",
    "mgm01_ip" : "",
    "mon01_ip" : "10.10.10.14",
    "mon02_ip" : "10.10.10.17",
    "mon_vip"  : "10.10.10.15",
    "mtr01_ip" : "10.10.10.51",
    "mtr02_ip" : "10.10.10.52",
    "mtr_vip"  : "10.10.10.50",
    "nal01_ip" : "10.10.10.61",
    "nal02_ip" : "10.10.10.62",
    "nal03_ip" : "10.10.10.63",
    "nal_vip"  : "10.10.10.60",
    "ntw01_ip" : "10.10.10.71",
    "ntw02_ip" : "10.10.10.72",
    "ntw03_ip" : "10.10.10.73",
    "ntw_vip"  : "10.10.10.70",
    "rmq01_ip" : "10.10.10.56",
    "rmq02_ip" : "10.10.10.57",
    "rmq03_ip" : "10.10.10.58",
    "rmq_vip"  : "10.10.10.55",
    "prx01_ip" : "10.10.10.81",
    "prx02_ip" : "10.10.10.82",
    "prx_vip"  : "10.10.10.80",

    "cmp01_ip" : "10.10.10.101",
    "cmp02_ip" : "10.10.10.102",
    "cmp03_ip" : "10.10.10.103",
    "cmp04_ip" : "10.10.10.104",
    "cmp05_ip" : "10.10.10.105",
    "cmp06_ip" : "10.10.10.106",
    "cmp07_ip" : "10.10.10.107",

    "kvm01_ip" : "10.10.10.201",
    "kvm02_ip" : "10.10.10.202",
    "kvm03_ip" : "10.10.10.203"
}
